*{
    
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /*background-color: rgb(184, 219, 216);*/
    background: linear-gradient(rgb(184, 219, 216), rgba(0, 0, 0, 1.5));

}
.home{
    display: flex;
    flex-wrap: wrap;

}

.in-flex{
    flex: 1;
    min-width: 250px;
    border-radius: 10%;
}


.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0px;
    
    background-image: url(ImagensCs/peakpx.jpg);
    background-size: cover;
}

.in-flex img{
    border-radius: 30%;
    width: 65%;
    padding: 15px;
    background-color: #666f70;
    margin: 10px;
}

.in-flex div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

h1{
    color: #f0f0f0; text-shadow: 5px 5px 5px #adc996, 5px 5px 5px #b6abab; 
    margin-top: 200px;
    font-size: 30px;
}

p{
    color: #ffffff; text-shadow: 5px 5px 5px #adc996, 5px 5px 5px #b6abab; 
    font-size: 25px;
    
}