*{
    
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /*background-color: rgb(136, 127, 111);*/
    background: linear-gradient(rgb(104, 100, 95), rgba(0, 0, 0, 2.0));

}
.home{
    display: flex;
    flex-wrap: wrap;

}

.in-flex{
    flex: 1;
    min-width: 250px;
    border-radius: 10%;
}


.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0px;
    
    background-image: url(ImagensCs/VikinFondo.jpg);
    background-size: cover;
}

.in-flex img{
    border-radius: 30%;
    width: 65%;
    padding: 15px;
    background-color: #666f70;
    margin: 10px;
}

.in-flex div{
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}



p{
    color: #000000; text-shadow: 5px 5px 5px #d49100, 5px 5px 5px #b6abab; 
    font-size: 25px;
    margin-top: 400px;
    
}